- add_to_breadcrumbs _("Security Configuration"), project_security_configuration_path(@project)
- breadcrumb_title _("DAST Configuration")
- page_title _("DAST Configuration")
- @content_class = "limit-container-width" unless fluid_layout

- content_for :prefetch_asset_tags do
  - webpack_preload_asset_tag('monaco')

.js-dast-configuration{ data: dast_configuration_data(@project) }
